# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Battleship3D.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Arnaud\Documents\GitHub\Battleship3D\.idea\.idea.Battleship3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
